doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet')
  link(rel='stylesheet' href='css/about_us.css')
  title About us page
section
  .navbar-dark
    nav.navbar.navbar-expand-lg.navbar-light.text-bg-light
      .container-fluid
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo01.collapse.navbar-collapse
          a.navbar(href='/')
            b U
          | farm
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='/product') Products
            li.nav-item
              a.nav-link(href='/Register' tabindex='-1' aria-disabled='true') Sign Up
          form.d-flex(action='/logout' method='post')
            button.btn.btn-outline-success(type='submit') Back
.container
  h1 Urban Farming
  h2 The E-Farmers
  .image
    img(src='image/gettyimages-937057284-612x612.jpg' style='border-radius: 500px;' alt='' srcset='')
  p
    | We are here to improve on our farming and marketing experience to serve the very best to our customers to give the best of best shopping life for better life
  a.btn.btn-success(href='/product') More Details
.row(style='padding: 20px;')
  .col-6
    h1
      | Team Group
    img(src='image/meet_the_team.jpg' width='75%x' style='border-radius: 10px;' alt='' srcset='')
    p
      | Developing the best use of this app for both farmers and customers
  .col-6
    h1
      | Team work
    img(src='image/group_pic.jpg' width='60%x' style='border-radius: 10px;' alt='' srcset='')
    p
      | Team work is the key to achieve our goals
  .col-4
    h1
      | Team Leader
    img(src='image/Team_leader.jpg' width='50%x' style='border-radius: 100%;' alt='' srcset='')
    p
      | Mr. John Q
  .col-4
    h1
      | Leading Developer
    img(src='image/Leader_in_dev.jpg' width='50%x' style='border-radius: 100%;' alt='' srcset='')
    p
      | Mr. James P
  .col-4
    h1
      | Designer Leader
    img(src='image/Sarah.jpg' width='50%x' style='border-radius: 100%;' alt='' srcset='')
    p
      | Ms. Sarah
section(style='margin-top: 5%;')
  footer(style='text-align: center; background-color: rgb(63, 61, 61)')
    p
      strong Follow us
    img(src='image/3225179_media_app_social_popular_logo_whatsapp.png' style='width: 50px' alt='')
    img(src='image/3225194_app_logo_popular_social_facebook_media.png' style='width: 50px' alt='')
    img(src='image/3225180_logo_popular_social_youtube_app_media.png' style='width: 50px' alt='')
    img(src='image/3225191_social_instagram_media_app_popular_logo.png' style='width: 50px' alt='')
  section
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')
