doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css', rel='stylesheet')
    | &#x9;
    link(rel='stylesheet', href='/css/register.css')
    | &#x9;
    title Register
  body
    section
      .navbar-dark
        nav.navbar.navbar-expand-lg.navbar-light.text-bg-light
          .container-fluid
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            | &#x9;&#x9;&#x9;&#x9;
            #navbarTogglerDemo01.collapse.navbar-collapse
              a.navbar(href='/views/Home.html')
                b U
              | farm
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                  a.nav-link.active(aria-current='page', href='/views/login.html') Products
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.nav-item
                  a.nav-link(href='/views/login.html') About us
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.nav-item
                  a.nav-link(href='/views/sign.html', tabindex='-1', aria-disabled='true') Sign Up
    form(action="/Register" method ="post") 
      h1 Sign Up
      | &#x9;
      .row
        .col-4
          label.form-label(for='Name1') Name
          input#Name1.form-control(name='Name1', type='name', aria-describedby='nameHelp', )
          | &#x9;&#x9;&#x9;
          #nameHelp.form-text
        | &#x9;&#x9;
        .col-3
          label.form-label(for='Gender1') Gender
          select#Gender1.form-control(input='Gender', name='Gender1', type='gender', aria-describedby='genderHelp',)
            option(value='Male') Male
            | &#x9;&#x9;&#x9;&#x9;
            option(value='Female') Female
        | &#x9;&#x9;
        .col-5
          label.form-label(for='Date1') Date of Registration
          input#date1.form-control(type='date', name='Date1',aria-describedby='date1Help')
          | &#x9;&#x9;&#x9;
          #date1Help.form-text
        | &#x9;&#x9;
        .col-4
          label.form-label(for='Date2') Date of Birth
          input#date2.form-control(type='date', name='Date2', aria-describedby='date2Help')
          | &#x9;&#x9;&#x9;
          #date2Help.form-text
        | &#x9;&#x9;
        .col-4
          label.form-label(for='Activities') Activities undertaken
          select#Activity1.form-control(input='', type='activities', name='Activities', aria-describedby='activityHelp',)
            option(value='Register Urban farmers') Register Urban farmers
            | &#x9;&#x9;&#x9;&#x9;
            option(value='Approve and inspect of produce') Approve and inspect of produce
            | &#x9;&#x9;&#x9;&#x9;
            option(value='Booking and Orders') Booking and Orders
        | &#x9;&#x9;
        .col-3
          label.form-label(for='phonenumber') PhoneNumber
          input#phonenumber1.form-control(type='phonenumber',name='phonenumber',  aria-describedby='phonenumberHelp', placeholder='0778 234 679',)
          | &#x9;&#x9;&#x9;
          #phonenumberHelp.form-text
        | &#x9;&#x9;
        .col-4
          label.form-label(for='Nin1') NIN
          input#Nin1.form-control(type='nin',name='Nin1', aria-describedby='ninHelp', placeholder='Fa1', )
          | &#x9;&#x9;&#x9;
          #ninHelp.form-text
        | &#x9;&#x9;
        .col-4
          label.form-label(for='Ward1') Ward
          select#ward1.form-control(input='ward1', name='Ward1', type='ward', aria-describedby='wardHelp',)
            option(value='LC1') LC1
            | &#x9;&#x9;&#x9;&#x9;
            option(value='LC2') LC2
            | &#x9;&#x9;&#x9;&#x9;
            option(value='LC3') LC3
            | &#x9;&#x9;&#x9;&#x9;
            option(value='LC4') LC4
        | &#x9;&#x9;
        .col-4
          label.form-label(for='Role1') Role
          select#role1.form-control(input='role', name= 'Role1', type='role', aria-describedby='roleHelp', aria-placeholder='Role assigned', required='')
            option(value='Agriculture Officer') Agriculture Officer
            | &#x9;&#x9;&#x9;&#x9;
            option(value='User') User
        | &#x9;&#x9;
        .col-4
          label.form-label(for='UserID') UserID
          input#UserID.form-control(type='userID',name='UserID', aria-describedby='userIDHelp', placeholder='001',)
          | &#x9;&#x9;&#x9;
          #userIDHelp.form-text
        | &#x9;&#x9;
        .col-4
          label.form-label(for='password') Password
          input#password.form-control(type='password', name='password', aria-describedby='password', )
          | &#x9;&#x9;&#x9;
          #passwordHelp.form-text
      | &#x9;
      button.btn.btn-primary(type='submit', onclick='alertText()') submit
    div(style='margin-bottom: 25%')
    section
      footer(style='text-align: center; background-color: rgb(63, 61, 61)')
        p
          strong Follow us
        | &#x9;&#x9;
        img(src='/image/3225179_media_app_social_popular_logo_whatsapp.png', style='width: 50px', alt='')
        img(src='/image/3225194_app_logo_popular_social_facebook_media.png', style='width: 50px', alt='')
        img(src='/image/3225180_logo_popular_social_youtube_app_media.png', style='width: 50px', alt='')
        img(src='/image/3225191_social_instagram_media_app_popular_logo.png', style='width: 50px', alt='')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')
    //- script(src='/js/alert.js')